/[Bb]uild/
/.vs/
/Temp/
/ProjectSettings/
/Library/
/UnityPackageManager/
/obj/
/Assets/Editor/
/Assets/Examples/
/Assets/Plugins/
/Assets/RoyalFlush/
/Assets/Scripts/
/Assets/TestHarness/

*.csproj
*.sln
*.userprefs